@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vh;

    display: flex;
}

.side-panel {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 100vh
}

.title {
    position: absolute;
    width: 100%;
    height: 15vh;
    top: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 30, 30, .5);
}

.title p {
    font-family: norsebold, 'Times New Roman', Times, serif;
    font-size: 120px;
    color: white;
}

.side-panel-footer {
    margin-bottom: 20px;

    font-size: 1.5vh;
    color: black;
}

.main {
    flex: 5;
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: #333;
}

.main-header {
    flex: 3;
    background: #eee;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 2rem;
    padding-right: 20%;
}

.main-header p {
    margin-bottom: 2rem;

    font-size: 2vh;
    font-weight: 700;
}

.main-header #first-par {
    margin-bottom: 0;
}

.form-container {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.form {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.form-body {
    flex: 4;
    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 2rem 15% 2rem 3rem;
}

.form-header {
    flex: 1;
}

.form-row {
    flex: 1;
    display: flex;

    gap: 2rem;
}

.input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    font-size: 1.5rem;
    border-radius: 5px;

    padding: 0.25rem 0.5rem;
    appearance: none;
    outline: none;
}

label:has(+ input:required)::after {
    content: " *";
}

input:valid {
    border-color: #24b907;
}

input:invalid {
    border-color: #ff0000;
}

input:focus-visible {
    outline: none;
}

input:focus,
input:focus-visible {
    border-color: #0626db;
    box-shadow: 5px 5px 3px #cccccc;
}

.form-end {
    flex: 3;
    background-color: #eee;

    padding: 2rem 3rem;
}

button {
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    width: 20rem;

    font-size: 1.25rem;
    font-weight: 700;

    color: white;
    background-color: #46d629;
}

button:hover {
    background-color: #2abd0c;
    cursor: pointer;
}

a {
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0000ff;
}

@media only screen and (min-width: 1920px) {
    .side-panel {
        width: 7px;
    }
    
    .form {
        flex: 1;
    }
}